/* 
font-family: 'Karla', sans-serif;

font-family: 'DM Serif Display', serif;
*/

/*
<i class="fas fa-user-circle"></i>
<i class="fas fa-dollar-sign"></i>
<i class="fas fa-bolt"></i>
<i class="fas fa-bars"></i>*/

/*Colors

Primary
Dark Violet: hsl(256, 26%, 20%)
Grayish Blue: hsl(216, 30%, 68%)

Neutral
Very Dark Violet: hsl(270, 9%, 17%)
Dark Grayish Violet: hsl(273, 4%, 51%)
Very Light Gray: hsl(0, 0%, 98%)*/

/*____Global____*/
* {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
}
p {
  line-height: 1.5em;
}
/*____Navigation____*/
.header-logo {
  float: left;
}
.logo-nav {
  background-color: white;
  padding: 1.5em 1em;
}
#icon-hamburger {
  display: block;
  float: right;
}
#icon-cross {
  display: none;
  float: right;
}
#mobile-div-nav {
  display: none;
}

/*____Introduction Section____*/
.section1 {
  background-color: hsl(256, 26%, 20%);
  color: white;
  position: relative;
}
.sec1-hr {
  display: none;
}
.bg-desktop-left {
  display: none;
}
.bg-desktop-right {
  display: none;
}
.desktop-intro-image {
  width: 100%;
  height: auto;
}
.bg-right-mobile-intro {
  position: absolute;
  bottom: -20%;
  right: 0;
}
@media only screen and (min-width: 600px) {
  .bg-desktop-left {
    display: block;
    position: absolute;
    bottom: -40%;
  }
  .bg-desktop-right {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .section1 {
    background-image: none;
    position: relative;
  }
  .sec1-hr {
    display: block;
  }
  .desktop-intro-image {
    width: 50%;
    height: auto;
  }
  .bg-right-mobile-intro {
    display: none;
  }
}
.sec1-text {
  background-image: url("images/bg-pattern-intro-left-mobile.svg");
  background-position: left top;
  background-size: 50%;
  background-repeat: no-repeat;
  padding: 1em;
}
@media only screen and (min-width: 600px) {
  .sec1-text {
    background-image: none;
  }
}
.sec1-heading {
  padding: 3em 0 1em;
}

/*____We are different section____*/
.section2 {
  padding: 5em 1em;
  margin: 1em 0;
}
.s2-d1 {
  padding: 2em 0;
}
.s2-d1 > img {
  padding-bottom: 2em;
}
.s2-d1 > h2 {
  padding-bottom: 1em;
}
.s2-d1 > p {
  padding-bottom: 1em;
}
.sec2-hr {
  width: 8em;
  margin: 2em auto;
}
.button1 {
  margin: 2em;
}
.button2 {
  margin: 2em;
}
@media only screen and (min-width: 600px) {
  .sec2-hr {
    width: 8em;
    margin: 2em;
  }
}

/*____Find Out More section____*/
.sec2-subsec {
  background-color: hsl(256, 26%, 20%);
  color: white;
  position: relative;
  min-height: 250px;
  background-image: url("images/bg-pattern-how-we-work-mobile.svg");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.sec2-subsec-heading {
  font-size: 2em;
  font-family: "DM Serif Display", serif;
  padding: 2em 1em;
}
.desktop-subsec2 {
  display: none;
}
@media only screen and (min-width: 600px) {
  .desktop-subsec2 {
    display: block;
    position: absolute;
    right: 0;
  }
}
@media only screen and (min-width: 475px) {
  .sec2-subsec-heading {
    padding: 2em 1em;
    width: 40%;
    text-align: left;
    margin: auto 0;
  }
}
.sec2-heading {
  padding: 1em 1em;
}
.h1-heading {
  font-family: "DM Serif Display", serif;
}
.button1,
.button2 {
  background-color: hsl(256, 26%, 20%);
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 0.5em 1em;
}
@media only screen and (min-width: 475px) {
  .button2 {
    margin: 0 2em;
  }
}

/*____Footer Section____*/
.section3 {
  background-color: hsl(0, 0%, 98%);
  text-transform: uppercase;
  background-image: url("images/bg-pattern-footer-mobile.svg");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 3em;
}
@media only screen and (min-width: 475px) {
  .section3 {
    background-image: url("images/bg-pattern-footer-desktop.svg");
    background-position: left top;
    background-size: 50%;
    background-repeat: no-repeat;
  }
}
.sec3-content {
  max-width: 1300px;
  margin: auto;
}
.insureFooterLogo {
  padding: 0.3em;
  margin: 6rem auto 1em;
}
.facebook-logo,
.twitter-logo,
.pinterest-logo,
.instagram-logo {
  padding: 0.3em;
  margin: 3em 0.3em;
}
.sec3-footer-map > p {
  padding: 2.5em 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 16px;
  }
  .main {
    text-align: center;
  }
  .mobile-intro-image {
    width: 100vw;
    height: 400px;
  }
  span {
    float: right;
    padding: 0.3em 0.5em;
    border: 1px solid black;
  }
  .background-image1 {
    width: 100%;
    height: 425px;
    padding: 0;
    background-color: hsl(270, 9%, 17%);
    color: white;
    text-transform: uppercase;
    background-image: url(images/bg-pattern-mobile-nav.svg);
    background-size: 100% 40%;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  div.background-image1 > ul {
    text-decoration: none;
  }
  li {
    padding: 1em;
  }
  li > a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
  }
  li > a:hover {
    border: 1px solid white;
  }
  .h1-heading {
    font-size: 2em;
  }

  .sec2-content {
    margin: 3em 0 5em;
  }
  .sec2-subsec {
    margin: 2em 0;
  }
  h2 {
    font-size: 1.5em;
  }
  .mobile-bg {
    float: right;
  }
  .mobile-bg-intro-right {
    float: right;
    position: relative;
    bottom: 150px;
  }
  .mobile-bg-intro-left {
    float: left;
  }
  .desktop-bg-intro-left,
  .desktop-bg-intro-right,
  .desktop-bg,
  .footer-bgdesktop-image {
    display: none;
  }
  .footer-p {
    padding: 2.5em 0.5em;
    font-weight: bold;
    color: hsl(273, 4%, 51%);
  }
  .sec3-work,
  .sec3-help,
  .sec3-contact,
  .sec3-others {
    list-style-type: none;
    font-weight: bold;
  }
  .sec1-sec2-hr {
    width: 8em;
    margin: auto;
  }
}
@media only screen and (min-width: 600px) {
  #icon-hamburger {
    display: none;
  }
  #icon-cross {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  * {
    font-size: 16px;
  }
  body {
    margin: 0.1px auto;
  }
  .main {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  #mobile-div-nav {
    display: block;
  }
  span {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    min-width: 1300px;
    margin: auto;
  }
  .mobile-nav {
    display: none;
  }
  .navigation {
    float: right;
  }
  .navigation > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  .sec1-hr {
    width: 10vw;
  }
  .sec2-hr {
    width: 10vw;
  }
  li {
    margin: 1em 0.5em;
  }
  li > a {
    text-decoration: none;
    padding: 1em 1em;
    color: hsl(216, 30%, 68%);
    display: block;
  }
  li > a:active {
    border: 1px solid black;
    color: black;
  }
  .h1-heading {
    font-size: 2.5em;
    margin: 1em 0;
    align-self: center;
    padding: 1em 0;
  }
  .desktop-bg-intro-left {
    position: relative;
    top: 15em;
  }
  .desktop-bg-intro-right {
    transform: scale(0.8);
    position: absolute;
    top: 50px;
    right: -50px;
  }
  .desktop-intro-image {
    position: relative;
    top: 7em;
  }
  .sec1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 420px;
  }
  .sec1-header-desk-mobile {
    display: flex;
    margin: auto;
    max-width: 1300px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .section2 {
    padding: 1em;
    margin: 5em 0;
  }
  .sec2-subsec {
    background-image: none;
  }
  .logo {
    margin: 1em 0;
  }
  .logo ~ h2 {
    margin: 0.4em 0;
  }
  .sec2-diff {
    display: flex;
    justify-content: space-around;
    padding: 1.5em 0 2em;
  }
  .sec2-content {
    margin: 3em auto 5em;
    max-width: 1300px;
  }
  .sec2-subsec {
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
  }
  .button2 {
    position: relative;
    height: 3em;
    align-self: center;
    width: 15em;
    min-width: 10em;
  }
  h2 {
    font-size: 1.5em;
  }
  .desktop-bg {
    position: relative;
    right: 0;
  }
  .sec3-map {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .sec3-footer-map > *p {
    padding: 1em 0;
  }
  p > ul {
    list-style-type: none;
    font-weight: bold;
  }
  .mobile-intro-image,
  .mobile-bg-intro-left,
  .mobile-bg-intro-right,
  .mobile-bg,
  .footer-bgmobile-image {
    display: none;
  }
  .sec3-work,
  .sec3-help,
  .sec3-contact,
  .sec3-others {
    list-style-type: none;
    font-weight: bold;
  }
  .footer-p {
    padding: 2.5em 0.5em;
    font-weight: bold;
    color: hsl(273, 4%, 51%);
  }
  .sec3-footer-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .button1 {
    max-width: 175px;
    margin: 2em 2em 2em 0;
  }
  .sec1-heading {
    padding: 1em 0 0;
  }
  .s2-d1 {
    padding: 0.5em;
  }
}
